.u-section-1 .u-sheet-1 {
  min-height: 843px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 509px;
  margin-top: 148px;
  margin-bottom: 0;
  background-image: linear-gradient(#fbeced, #adcce9);
}

.u-section-1 .u-list-1 {
  width: 1033px;
  margin: -609px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 515px;
  grid-gap: 33px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/hgghgh.jpg");
  background-position: 50% 50%;
  margin: 69px auto 0;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/ds.jpg");
  background-position: 50% 50%;
  margin: 69px auto 0;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/fgfg.jpg");
  background-position: 50% 50%;
  margin: 69px auto 0;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 14px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 25px auto 101px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-shape-1 {
    height: 520px;
  }

  .u-section-1 .u-list-1 {
    width: 880px;
    margin-top: -620px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 521px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-3 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-11 {
    margin-bottom: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-shape-1 {
    height: 1053px;
    margin-top: 144px;
  }

  .u-section-1 .u-list-1 {
    width: 640px;
    margin-top: -1157px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1065px;
  }

  .u-section-1 .u-text-11 {
    margin-bottom: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1701px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-1 .u-shape-1 {
    height: 1389px;
  }

  .u-section-1 .u-list-1 {
    width: 448px;
    margin-top: -1493px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1317px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1820px;
  }

  .u-section-1 .u-shape-1 {
    height: 1469px;
  }

  .u-section-1 .u-list-1 {
    width: 273px;
    margin-top: -1587px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1499px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 5px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 40px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 5px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-11 {
    margin-bottom: 95px;
  }
}